<article>
   <h3>1. Notre Dame des Victoires</h3>
   <div class="panel panel-default">
        <div class="panel-body">
           <p>
               L’église a été fonde en 1856 après l’arrivée en masse des français pendant la ruée vers l’or. Le tremblement de terre de 1906 et le feu de suite a détruit l’église. C’était rétabli et reconstruit en 1915. En 1984 la ville de San Francisco l’a designée une lieu historique.
           </p>
            <p>
                Les messes sont offertes en français, anglais, et latin.
            </p>
            <p>
                Une école aussi fait parti de l’église depuis 1924.
            </p>
        </div>
    </div> 
   <img class="img-responsive" src="/img/Notre-Dame.jpg" alt="Notre Dame des Victoires">
   <br>
    <!-- / End of Panel Default -->
</article>