<article>
    <h3>Consulat du Canada</h3>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/97/f7/c1/97f7c13f20b06f9d4607dfcfd05fbf3b.jpg" alt="Consulat du Canada">
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa rem eos adipisci, perspiciatis obcaecati quae accusamus! Cumque nobis rem repellendus, quibusdam, sint aliquid recusandae rerum ratione, sequi odio qui fuga.</p>
        </div>
    </div>
</article>