<article>
   <h3>7. French Consulate</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Once again economic opportunity is attracting a new wave of French immigration to San Francisco. The tech sector is the main driver of this migration but the French are also well represented in the wine, financial, and fashion industries of the area. According to the most recent U.S. Census data there are over 100,000 people of French ancestry between the 9 counties of the San Francisco Bay area.
            </p>
        </div>
    </div>
    <img class="img-responsive" src="/img/French-Consulate.jpg" alt="French Consulate">
</article>