<p>
                                Founded in 1856 after the large influx of French for the 1848-49 Gold Rush. The original building was later destroyed in the 1906 earthquake and great fire, then rebuilt in 1915.
                                </p>
                                <p>
                                    The city of San Francisco designated the church a historic landmark in 1984.
                                </p>
                                <p>
                                    Services are offered in French, English, and Latin. 
                                </p>
                                <p>
                                    The church has also operated a French school since 1924.
                                </p>