<article>
   <h3>2. Quartier Français</h3>
   <img src="/img/Quartier.jpg" alt="Quartier Français">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Standing at the intersection of Bush &amp; Kearny streets you are in the heart of the French quarter, but it certain will not look like it at first glance. Like the French themselves their presence in the city is very understated and discreet. To discover the multiple restaurants which represent a variety of French regional cuisines, you’ll need to scour the alleys… literally. Highlighted on the map are Claude Lane, Hardie Place, and Belden Place, where you can discover these hidden bijous.
            </p>
        </div>
    </div>
</article>